


<!-- ? Ahrea del contenido -->
<div class="inicio-fondo">

<!-- ? Seccion del caroucel -->
  <div class="container mt-4 carousel-item">
    <h1>Hola</h1>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://stardewvalleywiki.com/mediawiki/images/thumb/8/82/Farming_Skill_Icon.png/32px-Farming_Skill_Icon.png"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://stardewvalleywiki.com/mediawiki/images/thumb/f/f1/Foraging_Skill_Icon.png/32px-Foraging_Skill_Icon.png"
            class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://stardewvalleywiki.com/mediawiki/images/thumb/e/e7/Fishing_Skill_Icon.png/32px-Fishing_Skill_Icon.png"
            class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
