#carouselExampleAutoplaying {
  height: 400px;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden; /* Para recortar excesos */
  border-radius: 10px;
}

#carouselExampleAutoplaying .carousel-inner,
#carouselExampleAutoplaying .carousel-item {
  height: 100%;
}

#carouselExampleAutoplaying img {
  height: 100%;
  width: 50%;
  object-fit: cover;  /* * Para avarcar todo el espacio de la pantalla*/
}
