
<!-- ? Escuchamos los iltros -->
<app-buscador-component
  (filtrosCambiados)="onFiltrosCambiados($event)"
  (textoBusquedaCambiado)="onTextoBusquedaCambiado($event)">
</app-buscador-component>



<!-- ? Ahrea del contenido -->
<div class="listadoProductos-fondo">
  <div class="grid-productos">
    <div class="card" *ngFor="let producto of productos" style="width: 18rem;">
      <img [src]="producto.imageUrl" class="card-img-top" alt="{{ producto.name }}">
      <div class="card-body">
        <h3>{{ producto.name }}</h3>
        <p>{{ producto.description }}</p>
        <p><strong>Categoría:</strong> {{ producto.categorias }}</p>
      </div>
    </div>
  </div>
</div>

