<div class="buscador-fondo">
  <input type="text" name="buscador" id="inBuscador" placeholder="Buscar"
         (input)="onInputChange($event)">

  <br><br>

  <div class="justify-content-center">
    <h6>Selecciona un filtro para buscar</h6>
  </div>

  <div class="d-flex justify-content-evenly">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="checkProdCultivo"
             (change)="onCheckboxChange('Productos de cultivo', $event)">
      <label class="form-check-label" for="checkProdCultivo">
        Productos de cultivo
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="checkProdAnimal"
             (change)="onCheckboxChange('Productos de origen Animal', $event)">
      <label class="form-check-label" for="checkProdAnimal">
        Productos de origen Animal
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="checkProdMarino"
             (change)="onCheckboxChange('Productos origen marino', $event)">
      <label class="form-check-label" for="checkProdMarino">
        Productos de origen marino
      </label>
    </div>
  </div>
</div>
